name: Delete GCP Bucket
on:
  workflow_dispatch: # Ejecución manual por seguridad

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/${{ secrets.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          service_account: 'github-actions-sa@${{ secrets.GCP_PROJECT_ID }}.iam.gserviceaccount.com'

      - name: 'Delete Storage Bucket'
        run: |
          # El flag -r es para borrar el contenido también
          gsutil rm -r gs://bucket-${{ secrets.GCP_PROJECT_ID }}
